<div class="form-group">
    <label for="name" class="col-sm-7 control-label">Complete Guest Package ($130)</label>
    <div class="col-sm-5">
        <input type="checkbox"
               data-ng-model="model.IsCompletePackage"
               data-ng-change="togglePackages(model.IsCompletePackage)"
               data-ng-checked="model.participant.Package.Option1 && model.participant.Package.Option2 && model.participant.Package.Option3 && model.participant.Package.Option4" />
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-7 control-label">Meet & greet ($15)</label>
    <div class="col-sm-5">
        <input type="checkbox"
               data-ng-model="model.participant.Package.Option1"
               data-ng-disabled="model.IsCompletePackage" />
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-7 control-label">Transportation ($30)</label>
    <div class="col-sm-5">
        <input type="checkbox"
               data-ng-model="model.participant.Package.Option2"
               data-ng-disabled="model.IsCompletePackage" />
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-7 control-label">Ontario Night ($40)</label>
    <div class="col-sm-5">
        <input type="checkbox"
               data-ng-model="model.participant.Package.Option3"
               data-ng-disabled="model.IsCompletePackage" />
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-7 control-label">Victory Banquet ($65)</label>
    <div class="col-sm-5">
        <input type="checkbox"
               data-ng-model="model.participant.Package.Option4"
               data-ng-disabled="model.IsCompletePackage" />
    </div>
</div>