
<mat-card color="primary">
    <mat-card-header>
        <mat-card-title>Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let day of scheduleDays; let first = first;">
            <h4>{{day.date | date:'EEEE MMM d': tournament.TimeZone}}</h4>
            <div  *ngFor="let event of day.items" class="event" fxLayout="row wrap">
                <h5 fxFlex="100" fxFlex.gt-xs="25">
                    <span *ngIf="event.start.dateTime">{{event.start.dateTime | date:'h:mma': tournament.TimeZone}}</span>
                    <span *ngIf="event.start.dateTime && (event.start.dateTime !== event.end.dateTime)">
                        - <span *ngIf="event.end.dateTime">{{event.end.dateTime | date:'h:mma': tournament.TimeZone}}</span>
                    </span>
                </h5>
                
                <div fxFlex="100" fxFlex.gt-xs="50">
                    <b>{{event.summary}}</b>
                    <br />
                    {{event.description}}
                </div>
                
                <h6 fxFlex="100" fxFlex.gt-xs="25">
                    {{event.location}}
                </h6>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="displayDate" mat-raised-button color="primary" [routerLink]="'schedule'">Full Schedule</button>
    </mat-card-actions>
</mat-card>