<nav>
    <ul class="nav nav-justified">
        <li data-active-menu="active"><a href="~/Contingent/Edit/@ViewBag.Year/@ViewBag.Province">Contingent</a></li>
        <li data-active-menu="active"><a href="~/Contingent/Reservation/@ViewBag.Year/@ViewBag.Province">Reservations</a></li>
        <li data-active-menu="active"><a href="~/Contingent/Arrivals/@ViewBag.Year/@ViewBag.Province">Travel</a></li>
        <li data-active-menu="active"><a href="~/Contingent/Practice/@ViewBag.Year/@ViewBag.Province">Practice</a></li>
        <li data-active-menu="active"><a href="~/Contingent/Profiles/@ViewBag.Year/@ViewBag.Province">Profiles</a></li>
    </ul>
</nav>
