<nav>
    <ul class="nav nav-justified">
        <li data-active-menu="active"><a href="/Contingent/Edit/@ViewBag.Province">Contingent</a></li>
        <li data-active-menu="active"><a href="/Contingent/Reservation/@ViewBag.Province">Reservations</a></li>
        <li data-active-menu="active"><a href="/Contingent/Arrivals/@ViewBag.Province">Travel</a></li>
        <li data-active-menu="active"><a href="/Contingent/Practice/@ViewBag.Province">Practice</a></li>
        <li data-active-menu="active"><a href="/Contingent/Profiles/@ViewBag.Province">Profiles</a></li>
    </ul>
</nav>
