.strike {
  text-decoration: line-through;
}

.negative {
    color: red !important;
}

.win {
    background-color: lightgreen;
}

.loss {
    background-color: pink;
}

.tie {
    background-color: lightgrey;
}

.dropdown-menu > li {
    width: 275px;
}

.dropdown-menu > li > a {
    display: inline-block;
}

.dropdown-menu > li > a.pdf {
    float: right;
}