.strike {
  text-decoration: line-through;
}

.negative {
    color: red !important;
}

.win {
    background-color: lightgreen;
}

.loss {
    background-color: pink;
}

.tie {
    background-color: lightgrey;
}

.dropdown-menu > li {
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}

.dropdown-menu > li > a {
    display: inline-block;
}

.dropdown-menu.history {
    width: 300px;
}