.strike {
  text-decoration: line-through;
}

.negative {
    color: red !important;
}

.win {
    background-color: lightgreen;
}

.loss {
    background-color: pink;
}

.tie {
    background-color: lightgrey;
}