<h1>Singles</h1>
<div class="row">
    <div class="col-xs-6">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-ng-click="Page('Game', { Division: 'Tournament Men Single' })">Men</button>
    </div>
    <div class="col-xs-6">
        <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="Page('Game', { Division: 'Tournament Ladies Single' })">Ladies</button>
    </div>
</div>

<h1>Tournament</h1>
<div class="row">
    <div class="col-xs-6">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-ng-click="Page('Game', { Division: 'Tournament Men' })">Men</button>
    </div>
    <div class="col-xs-6">
        <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="Page('Game', { Division: 'Tournament Ladies' })">Ladies</button>
    </div>
</div>

<h1>Teaching</h1>
<div class="row">
    <div class="col-xs-6">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-ng-click="Page('Game', { Division: 'Teaching Men' })">Men</button>
    </div>
    <div class="col-xs-6">
        <button type="button" class="btn btn-lg btn-block btn-success" data-ng-click="Page('Game', { Division: 'Teaching Ladies' })">Ladies</button>
    </div>
</div>

<h1>Seniors</h1>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-ng-click="Page('Game', { Division: 'Seniors' })">Seniors</button>
    </div>
</div>