
<mat-card color="primary">
    <mat-card-header>
        <mat-card-title>Facebook</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="fb-page" 
            data-href="https://www.facebook.com/MBAofCanada/" 
            data-tabs="" 
            data-width="" 
            data-height="" 
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/MBAofCanada/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/MBAofCanada/">Master Bowlers Association of Canada</a>
            </blockquote>
        </div>
    </mat-card-content>
</mat-card>