<button type="button" class="back btn btn-lg" data-ng-click="Back()">Back</button>

<h2>{{model.Division}}</h2>
<h3>Game {{model.Number}}</h3>
<h4>Pick the match</h4>

<div data-ng-repeat="game in model.Schedule.Games | filter: {Number: model.Number} :true">
    <button type="button" class="btn btn-lg btn-block btn-primary" 
        data-ng-class="{'btn-success':game.IsComplete}"
        data-ng-click="Page('Score', { Game: game })"
        data-ng-hide="game.IsComplete && !showCompleted" 
        >{{game.Away}} vs {{game.Home}}</button>
</div>

<h4>
    <label><input type="checkbox" data-ng-model="showCompleted" />Show Completed</label>
</h4>