<button type="button" class="back btn btn-lg" data-ng-click="Back()">Back</button>

<h2>Game {{model.Game.Number}}</h2>

<form name="form" class="css-form" novalidate>
    <h4>{{model.AwayProvince}} {{model.Away.Name}}</h4>
    <div data-ng-repeat="bowler in model.Away.Bowlers" class="row">
        <h5 class="col-xs-5 padding-0">{{bowler.Name}}</h5>
        <div class="col-xs-3 padding-0">
            <select name="position" class="form-control input-lg" data-ng-model="bowler.Position" data-ng-if="model.Away.Bowlers.length > 1" >
                <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>
            </select>
        </div>
        <div class="col-xs-4 padding-0"><input name="score" class="form-control input-lg" type="number" pattern="\d*" min="0" max="450" data-ng-model="bowler.Score" /></div>
    </div>

    <h4>{{model.HomeProvince}} {{model.Home.Name}}</h4>
    <div data-ng-repeat="bowler in model.Home.Bowlers" class="row">
        <h5 class="col-xs-5 padding-0">{{bowler.Name}}</h5>
        <div class="col-xs-3 padding-0">
            <select name="position" class="form-control input-lg" data-ng-model="bowler.Position" data-ng-if="model.Home.Bowlers.length > 1" >
                <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>
            </select>
        </div>
        <div class="col-xs-4 padding-0"><input name="score" class="form-control input-lg" type="number" pattern="\d*" min="0" max="450" data-ng-model="bowler.Score" /></div>
    </div>

    <button type="button" class="btn btn-lg btn-block btn-primary" data-ng-disabled="form.$invalid || !ValidForm()" data-ng-click="Page('Result')">Next</button>
</form>