<mat-card color="primary">
    <mat-card-header>
        <mat-card-title>Sponsors</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="sponsors && !isRotating">
            <a *ngFor="let sponsor of sponsors" [href]="sponsor.Website" target="_blank">
                <img [src]="sponsor.ImageUrl" style="width:100%;max-height:500px;" alt="" border="0" />
            </a>
        </div>

        <a *ngIf="sponsor && isRotating" [href]="sponsor.Website" target="_blank">
            <img [src]="sponsor.ImageUrl" style="width:100%;max-height:500px;" alt="" border="0" />
        </a>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="isRotating" mat-raised-button color="primary" [routerLink]="'sponsors'">All Sponsors</button>
    </mat-card-actions>
</mat-card>