<form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/2dew5/id/1" onsubmit="return false;">
    <mat-card color="primary">
        <mat-card-header>
            <mat-card-title>Newsletter</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- SendinBlue Signup Form HTML Code -->
            <input type="hidden" id="sib_embed_signup_lang" value="en">
            <input type="hidden" id="sib_embed_invalid_email_message" value="That email address is not valid. Please try again">
            <input type="hidden" name="primary_type" id="primary_type" value="email">
            <input type="hidden" name="js_id" id="js_id" value="2dew5"><input type="hidden" name="listid" id="listid" value="2"><input type="hidden" name="from_url" id="from_url" value="yes"><input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
            <input class="hidden" type="hidden" name="req_hid" id="req_hid" value="">
            <input type="text" name="email" id="email" value="">
            <!-- End : SendinBlue Signup Form HTML Code -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" data-editfield="subscribe">Subscribe</button>
        </mat-card-actions>
    </mat-card> 
</form>