mat-cell,
mat-header-cell {
    justify-content: center !important;
    padding: 1px !important;
}

mat-header-cell {
    font-weight: bold;
}

.mobile {
    mat-cell,
    mat-header-cell {
        font-size: .8em !important;
    }

    .mat-column-number {
        width: 1.2em !important;
    }
}