<connectionStrings>
  <add name="AzureTableStorage" connectionString="" />
  <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
  <add name="WebFrontend.Properties.Settings.DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
</connectionStrings>
