<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AzureTableStorage" connectionString="" />
    <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
    <add name="WebFrontend.Properties.Settings.DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>