<div class="col span_2_of_2">
    <h2>HIGH SCORES</h2>
    
    <h4>Tournament Division</h4>
    <div class="section group">
        <div class="col span_1_of_2">
            <h5>Men</h5>
            <ul>
            <li data-ng-repeat="score in model.HighScores['Tournament'].Scores | filter:{Gender:'M'} | orderBy:'Scratch':true | limitTo:3">{{score.Scratch}} - {{score.Name}}</li>
            </ul>
        </div>
        <div class="col span_1_of_2">
            <h5>Women</h5>
            <ul>
            <li data-ng-repeat="score in model.HighScores['Tournament'].Scores | filter:{Gender:'F'} | orderBy:'Scratch':true | limitTo:3">{{score.Scratch}} - {{score.Name}}</li>
            </ul>
        </div>
    </div>
    
    <h4>Teaching Division</h4>
    <div class="section group">
        <div class="col span_1_of_2">
            <h5>Men</h5>
            <ul>
            <li data-ng-repeat="score in model.HighScores['Teaching'].Scores | filter:{Gender:'M'} | orderBy:'Scratch':true | limitTo:3">{{score.Scratch}} - {{score.Name}}</li>
            <li data-ng-repeat="score in model.HighScores['Teaching'].Scores | filter:{Gender:'M'} | orderBy:'POA':true | limitTo:3">+{{score.POA}} - {{score.Name}}</li>
            </ul>
        </div>
        <div class="col span_1_of_2">
            <h5>Women</h5>
            <ul>
            <li data-ng-repeat="score in model.HighScores['Teaching'].Scores | filter:{Gender:'F'} | orderBy:'Scratch':true | limitTo:3">{{score.Scratch}} - {{score.Name}}</li>
            <li data-ng-repeat="score in model.HighScores['Teaching'].Scores | filter:{Gender:'F'} | orderBy:'POA':true | limitTo:3">+{{score.POA}} - {{score.Name}}</li>
            </ul>
        </div>
    </div>
    
    <h4>Seniors</h4>
    <div class="section group">
        <div class="col span_1_of_2">
            <h5>Men</h5>
            <ul>
            <li data-ng-repeat="score in model.HighScores['Senior'].Scores | filter:{Gender:'M'} | orderBy:'Scratch':true | limitTo:3">{{score.Scratch}} - {{score.Name}}</li>
            <li data-ng-repeat="score in model.HighScores['Senior'].Scores | filter:{Gender:'M'} | orderBy:'POA':true | limitTo:3">+{{score.POA}} - {{score.Name}}</li>
            </ul>
        </div>
        <div class="col span_1_of_2">
            <h5>Women</h5>
            <ul>
            <li data-ng-repeat="score in model.HighScores['Senior'].Scores | filter:{Gender:'F'} | orderBy:'Scratch':true | limitTo:3">{{score.Scratch}} - {{score.Name}}</li>
            <li data-ng-repeat="score in model.HighScores['Senior'].Scores | filter:{Gender:'F'} | orderBy:'POA':true | limitTo:3">+{{score.POA}} - {{score.Name}}</li>
            </ul>
        </div>
    </div>
</div>