<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AzureTableStorage" connectionString="UseDevelopmentStorage=true;" />
    <add name="DefaultConnection" connectionString="Server=localhost\SQLEXPRESS;Database=MbacTest;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>