<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="75">
        <app-welcome [tournament]="tournament"></app-welcome>

        <div fxLayout="row wrap">
            <app-news fxFlex="100" fxFlex.gt-sm="50" [year]="year" [limit]="3"></app-news>
            <app-schedule fxFlex [tournament]="tournament" [displayDate]="now.format('YYYYMMDD')"></app-schedule>
        </div>

        <div fxLayout="row wrap">
            <app-highscores fxFlex="100" fxFlex.gt-xs="33" [year]="year" limit="6" division="Tournament"></app-highscores>
            <app-highscores fxFlex="100" fxFlex.gt-xs="33" [year]="year" limit="3" division="Teaching"></app-highscores>
            <app-highscores fxFlex="100" fxFlex.gt-xs="33" [year]="year" limit="3" division="Senior"></app-highscores>
        </div>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="25">
        <div fxLayout="row wrap">
            <app-sponsors fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="100" [year]="year" [isRotating]="true"></app-sponsors>
            <app-facebook fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="100"></app-facebook>
            <app-follow-us fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100"></app-follow-us>
        </div>
   </div>
</div>