<div>
    <div class="container" data-ng-controller="ArrivalsController">
        <h2>{{model.province}} Travel Information</h2>

        <h3>Arrivals</h3>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Travel Method</th>
                    <th>Date & Time (CDT)</th>
                    <th>Airline and Flight Number</th>
                    <th>Number of People</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in model.travelPlans | filter: {Type: 1}">
                    <td>
                        <select data-ng-model="item.ModeOfTransportation">
                            <option>Air</option>
                            <option>Car</option>
                            <option>Bus</option>
                        </select>
                    </td>
                    <td>
                        <input data-ng-model="item.When" type="datetime-local"
                            placeholder="yyyy-MM-ddTHH:mm" min="2014-06-01T00:00" max="2014-07-31T00:00" required />
                    </td>
                    <td>
                        <input data-ng-model="item.FlightNumber" />
                    </td>
                    <td>
                        <input data-ng-model="item.NumberOfPeople" type="number" min="0" max="1000" />
                    </td>
                    <td><a data-ng-click="removeRecord(item)">x</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a data-ng-click="addArrival()" class="pull-right">Add Row</a>
                    </td>
                </tr>
            </tfoot>
        </table>

        <h3>Departures</h3>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Travel Method</th>
                    <th>Date & Time (CDT), </th>
                    <th>Airline and Flight Number</th>
                    <th>Number of People</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in model.travelPlans | filter: {Type: 2}">
                    <td>
                        <select data-ng-model="item.ModeOfTransportation">
                            <option>Air</option>
                            <option>Car</option>
                            <option>Bus</option>
                        </select>
                    </td>
                    <td>
                        <input data-ng-model="item.When" type="datetime-local"
                            placeholder="yyyy-MM-ddTHH:mm" min="2014-06-01T00:00" max="2014-07-31T00:00" required />
                    </td>
                    <td>
                        <input data-ng-model="item.FlightNumber" />
                    </td>
                    <td>
                        <input data-ng-model="item.NumberOfPeople" type="number" min="0" max="1000" />
                    </td>
                    <td><a data-ng-click="removeRecord(item)">x</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a data-ng-click="addDeparture()" class="pull-right">Add Row</a>
                    </td>
                </tr>
            </tfoot>
        </table>

        <a href="#" data-ng-click="saveTravelPlans()" class="btn btn-primary btn-large pull-right">Save</a>
    </div>
</div>