<mat-nav-list>
    <a mat-list-item [routerLink]="['/', year]"> Home </a>
    <a mat-list-item [routerLink]="'results'"> Results </a>
    <a mat-list-item [routerLink]="'statistics'"> Statistics </a>
    <a mat-list-item [routerLink]="'news'"> News </a>
    <a mat-list-item [routerLink]="'schedule'"> Schedule </a>
    <a mat-list-item [routerLink]="'lanedraw'"> Lane Draw </a>
    <a mat-list-item [routerLink]="'contingents'"> Contingents </a>
    <a mat-list-item [routerLink]="'souvenirs'"> Souvenirs </a>
    <a mat-list-item [routerLink]="'sponsors'"> Sponsors </a>
    <a mat-list-item [routerLink]="'centres'"> Centres </a>
    <a mat-list-item [routerLink]="'location'"> Location </a>
    <a mat-list-item [routerLink]="'history'"> History </a>
    <mat-divider></mat-divider>
    <a mat-list-item [routerLink]="'admin'"> Admin </a>
</mat-nav-list>
