table {
    width: 100%;

    td:first-child,
    th:first-child {
        text-align: left;
    }

    td:not(:first-child),
    th:not(:first-child) {
        text-align: right;
    }
}

.negative {
    color: red !important;
}