mat-sidenav-container {
    height: calc(100% - 66px);
}

mat-sidenav-content, mat-sidenav {
    height: calc(100% - 1px);
}

mat-sidenav {
    width: 250px;
    height: 100%;
}

mat-sidenav-content {
    main {
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }
}