@import '../app.variables.scss';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: calc(100% - $topMenuHeight - $notificationBarHeight);
}

mat-sidenav {
    width: 250px;
    height: 100%;
}

main {
    padding: 10px;
}