<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="20">
        <mat-list class="sidebar">
            <a mat-list-item [routerLink]="['./', 'high-by-game']"> High Scores </a>
            <a mat-list-item [routerLink]="['./', 'high-poa-by-game']"> High POA </a>
            <a mat-list-item [routerLink]="['./', 'high-average']"> High Average </a>
            <a mat-list-item [routerLink]="['./', 'most-wins']"> Most Wins </a>
        </mat-list>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="80">
        <router-outlet></router-outlet>
    </div>
</div>