<div>
    <div class="container" data-ng-controller="RebuildController as vm">
        <h2>Rebuild</h2>

        <div ng-repeat="readmodel in vm.readmodels">
            <a ng-click="vm.Rebuild(readmodel)">{{readmodel.Name}}</a> {{readmodel.Status}}
        </div>
    </div>
</div>