<div>
    <div class="container" data-ng-controller="ReportController">
        <div class="row clearfix">
            <div class="col-sm-2">
                <h3>Reports</h3>
                <ul>
                    <li>
                        <a data-ng-click="loadRooms(); viewUrl = '/AdminApp/Views/Reports/Reservations.html';">Reservations</a>
                    </li>
                    <li>
                        <a data-ng-click="loadTravelPlans(); viewUrl = '/AdminApp/Views/Reports/Transportation.html';">Transportation</a>
                    </li>
                    <li>
                        <a data-ng-click="viewUrl = '/AdminApp/Views/Reports/ParticipationPlaques.html';">Participation Plaques</a>
                    </li>
                    <li>
                        <a data-ng-click="viewUrl = '/AdminApp/Views/Reports/Averages.html';">Averages</a>
                    </li>
                    <li>
                        <a data-ng-click="loadProfiles(); viewUrl = '/AdminApp/Views/Reports/SinglesProfiles.html';">Singles Profiles</a>
                    </li>
                    <li>
                        <a data-ng-click="loadPracticePlans(); viewUrl = '/AdminApp/Views/Reports/Practices.html';">Practices</a>
                    </li>
                    <li>
                        <a data-ng-click="viewUrl = '/AdminApp/Views/Reports/Guests.html';">Guest Packages</a>
                    </li>
                    @*
                    <li>
                        <a data-ng-click="viewUrl = '/AdminApp/Views/Reports/Alternates.html';">Alternates</a>
                    </li>*@
                </ul>
            </div>

            <div class="col-sm-10" id="view" data-ng-include="" data-src="viewUrl">
            </div>
        </div>
    </div>
</div>