<ol>
    <li>
        <h4>Open the contingent page, and select Alternates</h4>
        <img src="~/Content/Images/Help/Alternates/01-SelectAlternate.PNG" />
    </li>
    <li>
        <h4>Ensure the alternate is set for your team</h4>
        <h5><b>NOTE</b>: If they are not in the drop down, add them to the Guest listing on the contingent page.</h5>
        <img src="~/Content/Images/Help/Alternates/02-SetAlternate.PNG" />
    </li>
    <li>
        <h4>And their average Info!</h4>
        <img src="~/Content/Images/Help/Alternates/03-SetAverage.PNG" />
    </li>
    <li>
        <h4>Go back and select the bowler you're replacing</h4>
        <img src="~/Content/Images/Help/Alternates/04-SelectABowler.PNG" />
    </li>
    <li>
        <h4>Click Use Alternate (ONCE)</h4>
        <img src="~/Content/Images/Help/Alternates/05-UseAlternate.PNG" />
    </li>
    <li>
        <h4>Important Note If Replacing Singles:</h4>
        <p>
            The next highest bowler becomes the singels representative. In this example, Ralph was replaced by Chad.
            Ralph was the Singles Representative (highest qualifying bowler). Gus is now the highest qualifying bowler,
            and thus is the Singles Representative.
        </p>
        <img src="~/Content/Images/Help/Alternates/06-Single.PNG" />
    </li>
</ol>