<ol>
    <li>
        <h4>Pick the division</h4>
        <img src="~/Content/Images/Help/ScoreEntry/Division.png" />
    </li>
    <li>
        <h4>Pick the game number</h4>
        <img src="~/Content/Images/Help/ScoreEntry/Game.png" />
    </li>
    <li>
        <h4>Pick the match</h4>
        <img src="~/Content/Images/Help/ScoreEntry/Match.png" />
    </li>
    <li>
        <h4>Enter the scores</h4>
        <img src="~/Content/Images/Help/ScoreEntry/Scores.png" />
    </li>
    <li>
        <h4>Verify and Save</h4>
        <img src="~/Content/Images/Help/ScoreEntry/Result.png" />
    </li>
</ol>

<p>As you are entering games, by default it hides ones that are completed, so you don't accidentally change something (there is a button to see completed games, 
    and you can then edit scores if there was a mistake) It's fast and simple, and it also works on people's smart phones (android, iphone, ipad, etc) so they 
    don't need to go into a backroom to enter them.</p>
