<ol>
    <li>
        <h4>First, select your gender, home and away bowlers, and press "Create Match"</h4>
        <img src="~/Content/Images/Help/Stepladder/CreateMatch.png" />
    </li>
    <li>
        <h4>Enter the scores, using the same notation you would on paper</h4>
        <img src="~/Content/Images/Help/Stepladder/EnterScore.png" />
    </li>
</ol>

<p>There's nothing else. The scores are automatically being saved as you enter them. 
    If you incorrectly create a match, it can be deleted by clicking the little garbage can in the bottom right.</p>