<div fxLayout="row wrap">
    <div fxFlex="20">
        <mat-list>
            <span *ngFor="let item of dateKeys">
                <a mat-list-item [routerLink]="['/', year, 'schedule', item.key]"> {{ item.date | date:'MMM dd': tournament.TimeZone }} </a>
            </span>
            <a mat-list-item [routerLink]="['/', year, 'schedule']"> All </a>
            <a *ngIf="tournament.Schedule.Download" mat-list-item [href]="tournament.Schedule.Download"> Download Schedule </a>
        </mat-list>
    </div>
    <div fxFlex="80">
        <app-schedule fxFlex [tournament]="tournament" [displayDate]="displayDate" (dateKeysLoaded)="loadDateKeys($event)"></app-schedule>
    </div>
</div>