.container {
    height: 100% !important;
 
    a {
        text-decoration: none;
    }

    div {
        text-align: center;
    }

    .points {
        white-space: nowrap !important;
    }
}

.win {
    background: lightgreen !important;
}

.loss {
    background: pink !important;
}

.tie {
    background: lightgrey !important;
}